<!DOCTYPE html>
<html>
  <head>
    <title>Gazouillis</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <a href="https://github.com/chatgris/gazouillis_sinatra"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 1040" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Gazouillis</a>
        </div>
      </div>
    </div>
    <div class="container">
      <header>
        <div class="alert alert-info">
          <p><strong><%= @tweets_count %></strong> tweets seen !</p>
        </div>
      </header>
      <div id='tweets'></div>
    </div>
  </body>
</html>
