<!DOCTYPE html>
<html>
  <head>
    <title>Gazouillis</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Gazouillis</a>
        </div>
      </div>
    </div>
    <div class="container">
      <ul id='tweets'></ul>
    </div>
  </body>
</html>
